<a href="https://colab.research.google.com/github/Ryam96/Kadatemy-Assignments/blob/main/Assignments_on_Dictionaries__Conditionals_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.

A triangle can be classified based on the lengths of its sides as equilateral, isosceles or
scalene. All three sides of an equilateral triangle have the same length. An isosceles
triangle has two sides that are the same length, and a third side that is a different
length. If all of the sides have different lengths then the triangle is scalene.
Write a program that reads the lengths of the three sides of a triangle from the
user. Then display a message that states the triangleâ€™s type.

In [ ]:
length1 = int(input("Enter Lenght 1: "))
length2 = int(input("Enter Lenght 2: "))
length3 = int(input("Enter Lenght 3: "))

if (length1 == length2 == length3):
    print("equilateral triangle")
elif (length1 == length2 or length2 == length3 or length3 == length1):
    print("isosceles triangle")
else:
    print("scalene triangle")

Enter Lenght 1: 34
Enter Lenght 2: 21
Enter Lenght 3: 34
isosceles triangle

## 2.

Create a dictionary, then write a code to check whether a given key already exists in the dictionary

In [ ]:
contents = {'name': 'sakeenaco', 'occupation': 'student', 'age': '42'}
print(contents.get('institution'))

None

## 3.

Create a dictionary, then write a Python program to remove a key from the dictionary.

In [ ]:
contents = {'name': 'sakeenaco', 'occupation': 'student', 'age': '25'}
contents.pop('age')
contents

{'name': 'sakeenaco', 'occupation': 'student'}

## 4.

Create a dictionary that contains Name, Location, Gender, Age as keys, then write a code that changes "Location" to "City".

In [18]:
dic = {'name' : 'Kachi', 'location': 'Ogun', 'gender': 'female', 'age': '50'}
#dic
dic ['city'] = dic.pop('location')
dic

{'age': '50', 'city': 'Ogun', 'gender': 'female', 'name': 'Kachi'}

## 5.

details = {
     'person1': {'name': 'Chioma', 'salary': 7500, 'age': 22},
     'person2': {'name': 'Tosin', 'salary': 8000, 'age': 25},
     'person3': {'name': 'Promise', 'salary': 6500, 'age': 28}
}

Write a code that changes Tosin's salary to 9000

In [21]:
details = { 'person1': {'name': 'Chioma', 'salary': 7500, 'age': 22},
           'person2': {'name': 'Tosin', 'salary': 8000, 'age': 25}, 
           'person3': {'name': 'Promise', 'salary': 6500, 'age': 28} }
details ['person2']['salary'] = ('9000')
details

{'person1': {'age': 22, 'name': 'Chioma', 'salary': 7500},
 'person2': {'age': 25, 'name': 'Tosin', 'salary': '9000'},
 'person3': {'age': 28, 'name': 'Promise', 'salary': 6500}}

## 6.

A month can last between 28 to 31 days. Write a code that reads the name of a month as a string from the user. The number of days in that month should then be shown by your output. Display "28 or 29 days" for February to account for leap years.

In [ ]:
month = input("Enter a month")
if (month.lower() == 'january'):
    print("31 days")
elif (month.lower() == 'february'):
    print("28 or 29 days")
elif (month.lower() == 'march'):
    print("31 days")
elif (month.lower() == 'april'):
    print("30 days")
elif (month.lower() == 'may'):
    print("31 days")
elif (month.lower() == 'june'):
    print("30 days")
elif (month.lower() == 'july'):
    print("31 days")
elif (month.lower() == 'august'):
    print("31 days")
elif (month.lower() == 'september'):
    print("30 days")
elif (month.lower() == 'october'):
    print("31 days")
elif (month.lower() == 'november'):
    print("30 days")
elif (month.lower() == 'december'):
    print("31 days")
else:
    print("wrong input...")

Enter a monthfeBRUARY
28 or 29 days

## 7.

Write an if statement that asks for the user's name via input() function. If the name is "James" make it print "Welcome on board, James." Otherwise make it print an appropriate error message of your choice. 

Make sure you use the string formatting method.

In [ ]:
age = 18
name = input("Enter a Name: ")
if (name == "james"):
    print(f"welcome on board, {name}.") #old style string formatting
    print("welcome on board, %s." %name) #old style string formatting (%operator)
    print("welcome on board, {} you are {} years old." .format(name,age)) #new style format

Enter a Name: james
welcome on board, james.
welcome on board, james.
welcome on board, james you are 18 years old.

## 8. 

Write a code that prompts the user to input a number, and then returns "True" if number is divisible by 3, and "False" if otherwise.

In [ ]:
element = int(input("Enter a number: "))
if (element % 3 == 0):
    print("True")
else:
    print("False")

Enter a number: 90
True

## 9.

A school has following rules for grading system:
- Below 40 - F
- 41 to 44 - E
- 45 to 49 - D
- 50 to 60 - C
- 60 to 69 - B
- 70 and above - A

Write a code that asks the user to enter his mark and then prints out the corresponding grade.

In [ ]:
score = int(input("Enter Your Score"))
if (score >= 70):
    print("Grade A")
elif (score >= 60 and score < 70):
    print("Grade B")
elif (score >= 50 and score <= 60):
    print("Grade C")
elif (score >= 45 and score <= 49):
    print("Grade D")
elif (score > 40 and score < 45):
    print("Grade E")
elif(score < 40):
    print("Grade F")
else:
    print("Wrong input")

Enter Your Score93
Grade A

## 10. 

A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
Write a code that asks the user to input their salary and years of service and then prints the net bonus amount.

Use string format method

In [ ]:
year = int(input("Enter years in service: "))
salary = float(input("Enter Monthly Salary: "))

if (year >= 5):
    net_bonus = (salary / 100) * 5
else:
    net_bonus = 0

print("net bonus = {}." .format(net_bonus))

Enter years in service: 4
Enter Monthly Salary: 50000
net bonus = 0.