<a href="https://colab.research.google.com/github/Ryam96/Kadatemy-Assignments/blob/main/data_structures_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. 


x = 16 - 2 * 5 // 3 + 1


y = 2 ** 3 * 3

what is x?
what is y?

Describe the order that the computation occurred in each case. i.e which happened first, followed by which one, etc.

In [ ]:
x = 16 - 2 * 5 // 3 + 1
x      #using the arithemic rule: PEMDAS. Here we have both mulitiplication and floor (which is a family of division)  
       #they are considered to be on the same level, we start from left to right so 2 * 5 = 10, then 10 // 3 = an int 3
       #the next is the subtraction and the addition rule; since we have the two, we now  have 16 - 3 + 1 . we go from left to right 16 -3 = 13,then 
       13 + 1 = 14

14

In [ ]:
y = 2 ** 3 * 3    # using PEMDAS. 2 ** 3 means 2 exponetial 3 = 8. 
                  #Then 8 * 3 = 24
y

24

## 2. 
Add parenthesis to the expression 6 * 1 - 2 to change the resulting value from 4 to -6.

In [ ]:
z = 6 * (1 - 2)
z

-6

## 3. 
Compute the area of a circle with radius 7, stored into a variable called area. 
Print a nice message with the answer.

Note- Search for the formula to calculate area of a circle.

In [ ]:
r = 7
PI = 3.14
area = PI * (r ** 2)
print(area)

print('I just calculated the area of a circle using python and the answer was {}'.format (area))

153.86
I just calculated the area of a circle using python and the answer was 153.86

## 4. 
Write an expression to check to if a number 3, stored in a variable x, is between 0 and 5.

In [ ]:
x = 3
x >0 and x <= 5

True

## 5. 

Variables x and y refer to Boolean values.


a. Write an expression that produces True if both variables are True.

b. Write an expression that produces True if at least one of the variables
is True.

c. write an expression that inverses the result of 5a above.

In [145]:
y = True
x = True
x and y

True

In [139]:
y = True
x = False
x or y

True

In [146]:
y = True
x = True
not (x and y)

False

## 6.
Create a list that contains floats and integers, and write a code to sum all the items in the list.

In [ ]:
scores = [ 50, 89.5, 45, 90, 87.4, 44.3, 56, 60.5, 56.9, 85, 76, 72.1, 60.5, 89.1, 89]
sum(scores)

1051.3000000000002

## 7.
list1 = [3, 5, 1, 3, 9, 5, 7] 

Write a code to sort this list in increasing order.

In [ ]:
list1 = [3, 5, 1, 3, 9, 5, 7]
list1.sort()
list1

[1, 3, 3, 5, 5, 7, 9]

## 8.

list2 = [1, 2, 5, 7, 9, 0, 3, 6, 7, 1, 3, 5, 6, 8, ,2, 9, 0, 5, 2, 1, 2, 4, 2]

Write a code to count how many times 2 occured in the list

In [ ]:
list2 = [1, 2, 5, 7, 9, 0, 3, 6, 7, 1, 3, 5, 6, 8,2, 9, 0, 5, 2, 1, 2, 4, 2]

print(list2.count(2))

5

## 9.
list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]

Using string formatting, write a code that slices out "Chinelo", "Faith", slices out the number 100, 85.5, and 90.

Your code should print out: Chinelo couldn't score 100%, she got 90%, However, Faith is a close second with 85.5%.

NB: Make sure your output contains % sign

In [ ]:
list3 = ["Tosin", 10.4, "9", (23, "Faith", [10, ["Chinelo", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]
a = list3[3][1]
a

'Faith'

In [ ]:
list3 = ["Tosin", 10.4, "9", (23, "Faith", [10, ["Chinelo", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]
b = list3[3][2][1][0]
b

'Chinelo'

In [ ]:
list3
c = list3[4]
c

100

In [ ]:
list3
d = list3[5]
d

85.5

In [ ]:
list3
e = list3[8][1]
e

90

In [ ]:
print("{} couldn't score {} %, she got {}% However, {} is a close second with {}%".format( (b),(c),(e),(a),(d)))

Chinelo couldn't score 100 %, she got 90% However, Faith is a close second with 85.5%

## 10.

list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

Write a code that removes any of these names and replaces it with your name in that particular index

In [ ]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
list4[0] ="Maryam"
list4

['Maryam', 'Ebuka', 'Rose', 'Hassan', 'Bisi']

## 11. 

list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

Write a code that prints out the index positon of the name "Rose"

In [ ]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
list4
print(list4[2])

Rose

## 12. 

list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

Write a code that adds your name to this list of names

In [ ]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
list4.append("Maryam")
list4

['Chima', 'Ebuka', 'Rose', 'Hassan', 'Bisi', 'Maryam']

## 13.
sets = {3, 1, 10, 4, 5, 6}

Write a code that sorts this set in asceding order. Print the output, explain the out you got and why.

In [ ]:
sets = {3, 1, 10, 4, 5, 6}
sorted(sets)

[1, 3, 4, 5, 6, 10]

## 14.

- set1 = {10, 20, 30, 40, 50}
- set2 = {30, 40, 50, 60, 70}

Write a code prints out a new set with all items from both sets by removing duplicates

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set.union(set1, set2)

{10, 20, 30, 40, 50, 60, 70}

## 15.

- Create a string that is a long series of words separated by spaces. 
It can be names, cities, animals, anything. Just make it up yourself.
- Turn the string into a list of words using split. 
- Delete two words from the list, but delete each one using a different kind of Python method. 
- Sort the list. 
- Add two new words to the list using two different kinds of Python operation used in adding items to a list. 
- Turn the list of words back into a single string using join. 
- Print the string.

NB: Feel free to use Google to find out other ways to add and remove items from a list

In [147]:
word = " lagos is such a weird place. I wish people would experience other cities too. So much to explore up north east and even other cities in the southwest."
#str1.split()
m = word.split()
m

['lagos',
 'is',
 'such',
 'a',
 'weird',
 'place.',
 'I',
 'wish',
 'people',
 'would',
 'experience',
 'other',
 'cities',
 'too.',
 'So',
 'much',
 'to',
 'explore',
 'up',
 'north',
 'east',
 'and',
 'even',
 'other',
 'cities',
 'in',
 'the',
 'southwest.']

In [148]:
m.remove(m[2])
m

['lagos',
 'is',
 'a',
 'weird',
 'place.',
 'I',
 'wish',
 'people',
 'would',
 'experience',
 'other',
 'cities',
 'too.',
 'So',
 'much',
 'to',
 'explore',
 'up',
 'north',
 'east',
 'and',
 'even',
 'other',
 'cities',
 'in',
 'the',
 'southwest.']

In [149]:
del m[12]
m

['lagos',
 'is',
 'a',
 'weird',
 'place.',
 'I',
 'wish',
 'people',
 'would',
 'experience',
 'other',
 'cities',
 'So',
 'much',
 'to',
 'explore',
 'up',
 'north',
 'east',
 'and',
 'even',
 'other',
 'cities',
 'in',
 'the',
 'southwest.']

In [108]:
 m.sort()
 m

['a',
 'and',
 'cities',
 'cities',
 'east',
 'even',
 'experience',
 'explore',
 'i',
 'in',
 'is',
 'lagos',
 'much',
 'north',
 'other',
 'other',
 'people',
 'place',
 'so',
 'southwest.',
 'the',
 'to',
 'up',
 'weird',
 'wish',
 'would']

In [150]:
m.insert(1,"really")
m #i added a new word to the unsorted

['lagos',
 'really',
 'is',
 'a',
 'weird',
 'place.',
 'I',
 'wish',
 'people',
 'would',
 'experience',
 'other',
 'cities',
 'So',
 'much',
 'to',
 'explore',
 'up',
 'north',
 'east',
 'and',
 'even',
 'other',
 'cities',
 'in',
 'the',
 'southwest.']

In [151]:

m.append("part")
m

['lagos',
 'really',
 'is',
 'a',
 'weird',
 'place.',
 'I',
 'wish',
 'people',
 'would',
 'experience',
 'other',
 'cities',
 'So',
 'much',
 'to',
 'explore',
 'up',
 'north',
 'east',
 'and',
 'even',
 'other',
 'cities',
 'in',
 'the',
 'southwest.',
 'part']

In [152]:
 print(m)

['lagos', 'really', 'is', 'a', 'weird', 'place.', 'I', 'wish', 'people', 'would', 'experience', 'other', 'cities', 'So', 'much', 'to', 'explore', 'up', 'north', 'east', 'and', 'even', 'other', 'cities', 'in', 'the', 'southwest.', 'part']

In [153]:
' '.join(m)

'lagos really is a weird place. I wish people would experience other cities So much to explore up north east and even other cities in the southwest. part'