<a href="https://colab.research.google.com/github/Ryam96/Kadatemy-Assignments/blob/main/Python_Loops_assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.

A particular zoo determines the price of admission based on the age of the guest.

Guests 2 years of age and less are admitted without charge. Children between 3 and 12 years of age cost $14.00.

Seniors aged 65 years and over cost $18.00.

Admission for all other guests is $23.00.

Create a program that begins by reading the ages of all of the guests in a group from the user, with one age entered on each line. The user will enter a blank line to indicate that there are no more guests in the group. Then your program should display the admission cost for the group with an appropriate message.

The cost should be displayed using two decimal places.

In [ ]:
agelist=[]
sum = 0
count = 1
adfee = float(0)

while True:
    try:
        age = int(input("Enter age for group user {}       :" .format(count)))
    except ValueError:
        print("Processing.....")
        break
            
    count += 1
    agelist += [age]
    

    if (age > 0 and age <=2):
        adfee += 0
        
    elif (age > 2 and age <= 12):
        adfee += 14
            
    elif (age > 65):
        adfee += 18
            
    else:
        adfee += 23
    
print("Please confirm your age and see below your admission fee", agelist)
print("Admission fee for your group is $%.2f" % adfee)

Enter age for group user 1       :23
Enter age for group user 2       :45
Enter age for group user 3       :67
Enter age for group user 4       :
Processing.....
Please confirm your age and see below your admission fee [23, 45, 67]
Admission fee for your group is $64.00

###### 2.

A particular retailer is having a 60 percent off sale on a variety of discontinued products. 

The retailer would like to help its customers determine the reduced price of the merchandise by having a printed discount table on the shelf that shows the original prices and the prices after the discount has been applied. 

Write a program that uses a loop to generate this table, showing the original price, the discount amount, and the new price for purchases of $4.95, $9.95, $14.95, $19.95 and $24.95. 

Ensure that the discount amounts and the new prices are rounded to 2 decimal places when they are displayed.

In [ ]:
originalPrice = [4.95, 9.95, 14.95, 19.95, 24.95]    
print("========================Welcome to RYAM LIVING===========================")
print("===============================PURCHASES=================================")
print("")
print("Original Prices\t\t\tDiscount Amount\t\t\tNew Price ")
for i in originalPrice:
    print ("%.2f" % (i), "\t\t\t\t %.2f" %((i/100) * 60), "\t\t\t\t %.2f" % (i - ((i/100) * 60)))

========================Welcome to RYAM LIVING===========================
===============================PURCHASES=================================

Original Prices			Discount Amount			New Price
4.95 				 2.97 				 1.98
9.95 				 5.97 				 3.98
14.95 				 8.97 				 5.98
19.95 				 11.97 				 7.98
24.95 				 14.97 				 9.98

## 3.

lst=[10, 99, 98, 85, 22, 34, 78, 98, 12, 35, 13, 100, 80, 95]

Using while loop, and if statement; iterate through the list and if there is a 100, print it with its index number. i.e.: 

"There is a 100 at index no: 4"

In [ ]:
lst=[ 10, 99, 98, 85, 22, 34, 78, 98, 12, 35, 13, 100, 80, 95 ]
count = 0
for item in lst:
    count += 1
    if(item == 100):
        print("There is 100 at index no: ", count-1)

There is 100 at index no:  11

## 4.

Write a python program to read three numbers (a,b,c) and check how many numbers between ‘a’ and ‘b’ are divisible by ‘c’

In [ ]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = int(input("Enter c: "))

itemss = []
for i in range(a,b):
        if (i % c == 0):
            print(i)

Enter a: 11
Enter b: 21
Enter c: 5
15
20

## 5.

Create a for loop that prompts the user for a name 3 times, then appends each one to names.

In [ ]:
i = 1
names = []
while i <= 3:
    name = input("name: ")
    names += [name]
    i += 1
print(names)

name: idris
name: maryam
name: akande
['idris', 'maryam', 'akande']

## 6.

Use a loop to print out every character in the string "Python", except the "o"

In [ ]:
string = "Python"
for str in string:
    if (str != "o"):
        print(str)

P
y
t
h
n

## 7. 

Write a program that computes the average of a collection
of values entered by the user. 

The user will enter 0 as a sentinel value to indicate
that no further values will be provided. 

Your program should display an appropriate
error message if the first value entered by the user is 0.

In [ ]:
list=[]
count = 0
sum = 0

while True:
    no = int(input("Enter a number: "))
    if (no == 0):
        break
    else:
        list += [no]

for item in list:
    sum += item
    count += 1
    
try:    
    average = float(sum / len(list))
    print(average)
    
except ZeroDivisionError:
    sum = 0
    print("Please try again with a valid number at first input")

Enter a number: 56
Enter a number: 34
Enter a number: 12
Enter a number: 899
Enter a number: 0
250.25